<h1>New product</h1>
<% form_for(@product) do |f| %>
<%= f.error_messages %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </li>
      <li>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </li>
      <li>
        <%= f.label :image_url %>
        <%= f.text_field :image_url %>
      </li>
      <li>
        <%= f.label :price %>
        <%= f.text_field :price %>
      </li>
    </ol>
    <%= f.submit "Create" %>
  </fieldset>
<% end %>

<%= link_to 'Back', products_path %>