<div class="grid_16">
  <h2>Add a Book</h2>
  <% form_for(@product) do |f| %>
  <%= f.error_messages %>
    <fieldset>
      <ol>
        <li>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </li>
        <li>
          <%= f.label :description %>
          <%= f.text_area :description %>
        </li>
        <li>
          <%= f.label :image_url %>
          <%= f.text_field :image_url %>
        </li>
        <li>
          <%= f.label :price %>
          <%= f.text_field :price %>
        </li>
      </ol>
      <div class="buttons">
        <button type="submit">Create</button>
        <%= link_to 'Cancel', products_path, :class => 'button passive' %>
      </div>
    </fieldset>
  <% end %>
</div>
